.welcome-text {
  width: 100%;
  background: var(--clr-red);

  position: relative;

  overflow: hidden;
  padding-top: 10em;
  padding-bottom: 25em;
}

.welcome-text .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text h3 {
  color: white;
}

@media screen and (max-width: 650px) {
  .welcome-text h3 {
    font-size: 3rem;
  }
}

.welcome-text h3 span {
  color: black;
}

#wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}
